<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>


<h4>A침adir canci칩n</h4>

<%= form_with model: [@playlist, Song.new], local: true do |f| %>
  <%= f.label :nombre %>
  <%= f.text_field :name, id: :song_name %>

  <%= f.label :artista %>
  <%= f.text_field :artist, id: :song_artist %>

  <%= f.submit 'A침adir Canci칩n' %>
<% end %>

<h4>Canciones</h4>

<ul>
  <% @playlist.songs.each do |song| %>
    <li> nombre: <%= song.name %> artista: <%= song.artist %>   <%= link_to 'Eliminar', playlist_song_path(@playlist, song), method: :delete %></li>
  <% end %>
</ul>
<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
